<!DocType HTML>

<HTML>
	<Head>
		<Meta Charset = "UTF-8" />
		<Title>{{ __MSG_view_Settings_title__ }}｜{{ __MSG_app_name__ }}</Title>

		<Link Rel = "StyleSheet" Href = "../libs/Fomantic-UI/dist/semantic.min.css" />
		<Link Rel = "StyleSheet" Href = "./index.css" />

		<Script Src = "../libs/jquery-3.4.1.min.js"></Script>
		<Script Src = "../libs/Fomantic-UI/dist/semantic.min.js"></Script>
		

		<Script Type = "module" Src = "../../scripts/libs/Initialize.js"></Script>
		<Script Src = "../../scripts/libs/variables.js"></Script>
		<Script Src = "../../scripts/libs/ChromeStorage.js"></Script>
		<Script Src = "../../scripts/libs/Bouyomi.js"></Script>

		<Script Type = "module" Src = "./index.js" Defer></Script>
	</Head>

	<Body>
		<Header Class = "ui menu labeled icon borderless steps unstackable tiny">
			<Div Class = "item header step">
				<I Class = "icon circular inverted teal">{{ __MSG_app_shortName__ }}</I>
				{{ __MSG_app_name__ }}
			</Div>

			<Div Class = "item step">
				<I Class = "icon wrench circular"></I>
				{{ __MSG_view_Settings_title__ }}
			</Div>
		</Header>

		<Main Class = "ui container segment basic">
			<H2 Class = "ui header">{{ __MSG_view_Settings_title__ }}</H2>

			<Section ID = "form" Class = "ui form segment">
				<H4 Class = "ui header">
					{{ __MSG_view_Settings_form_bouyomiType__ }}
					<Span Class = "sub header">{{ __MSG_view_Settings_form_bouyomiType__description__ }}</Span>
				</H4>

				<Select ID = "form_bouyomiType" Class = "field ui dropdown fluid">
					<Option Value = "BOUYOMI">{{ __MSG_view_Settings_form_bouyomiType__bouyomi__ }}</Option>
					<Option Value = "NATIVE">{{ __MSG_view_Settings_form_bouyomiType__native__ }}</Option>
				</Select>


				<Section>
					<Div ID = "form_bouyomiConfig">
						<Div ID = "form_bouyomiConfig_indicator" Class = "ui icon message info">
							<I Class = "icon info circle"></I>

							<Div Class = "content">
								<Div Class = "header">Note</Div>
								<P>{{ __MSG_view_Settings_form_bouyomiConfig__indicator__ }}</P>
							</Div>
						</Div>
					</Div>

					<Div ID = "form_nativeBouyomiConfig" Class = "ui segment basic">
						<H5 Class = "ui header">{{ __MSG_view_Settings_form_nativeBouyomiConfig__ }}</H5>

						<Section Class = "ui form">
							<H6 Class = "ui sub header">
								{{ __MSG_view_Settings_form_nativeBouyomiConfig_speed__ }}
								<Span Class = "sub header">{{ __MSG_view_Settings_form_nativeBouyomiConfig_speed__description__ }}</Span>
							</H6>
	
							<Div Class = "field ui input fluid">
								<Input ID = "form_nativeBouyomiConfig_speed" Type = "number" Min = "0.1" Max = "10" Step = "0.1" />
							</Div>


							<H6 Class = "ui sub header">
								{{ __MSG_view_Settings_form_nativeBouyomiConfig_pitch__ }}
								<Span Class = "sub header">{{ __MSG_view_Settings_form_nativeBouyomiConfig_pitch__description__ }}</Span>
							</H6>
	
							<Div Class = "field ui input fluid">
								<Input ID = "form_nativeBouyomiConfig_pitch" Type = "number" Min = "0" Max = "2" Step = "0.1" />
							</Div>


							<H6 Class = "ui sub header">
								{{ __MSG_view_Settings_form_nativeBouyomiConfig_volume__ }}
								<Span Class = "sub header">{{ __MSG_view_Settings_form_nativeBouyomiConfig_volume__description__ }}</Span>
							</H6>
	
							<Div Class = "field ui input fluid">
								<Input ID = "form_nativeBouyomiConfig_volume" Type = "number" Min = "0" Max = "1" Step = "0.1" />
							</Div>
	
	
							<H6 Class = "ui sub header">
								{{ __MSG_view_Settings_form_nativeBouyomiConfig_type__ }}
								<Span Class = "sub header">{{ __MSG_view_Settings_form_nativeBouyomiConfig_type__description__ }}</Span>
							</H6>
	
							<Select ID = "form_nativeBouyomiConfig_type" Class = "field ui dropdown fluid">
								<!-- <Option Value = "${voice.name}">${voice.name}</Option> -->
							</Select>
						</Section>
					</Div>
				</Section>


				<Div Class = "ui divider horizontal">
					<I Class = "icon setting"></I>
				</Div>


				<H4 Class = "ui header">
					{{ __MSG_view_Settings_form_services__ }}
					<Span Class = "sub header">{{ __MSG_view_Settings_form_services__description__ }}</Span>
				</H4>

				<Section ID = "form_services" Class = "fields grouped">
					<!--
						<Div Class = "field ui checkbox toggle" Data-Storage-Key = "${STORAGE_KEYS.SERVICES}" Data-Service = "${service}">
							<Label>{{ __MSG_services_${service}__ }}</Label>
							<Input Type = "checkbox" />
						</Div>
					-->
				</Section>
			</Section>
		</Main>
	</Body>
</HTML>