<!DocType HTML>

<HTML>
	<Head>
		<Meta Charset = "UTF-8" />
		<Title>{{ __MSG_view_Settings_title__ }}｜{{ __MSG_app_name__ }}</Title>

		<Link Rel = "StyleSheet" Href = "../libs/Fomantic-UI/dist/semantic.min.css" />
		<Link Rel = "StyleSheet" Href = "./index.css" />

		<Script Src = "../libs/jquery-3.4.1.min.js"></Script>
		<Script Src = "../libs/Fomantic-UI/dist/semantic.min.js"></Script>
		

		<Script Type = "module" Src = "../../scripts/libs/Initialize.js"></Script>
		<Script Src = "../../scripts/libs/variables.js"></Script>
		<Script Src = "../../scripts/libs/ChromeStorage.js"></Script>
		<Script Src = "../../scripts/libs/Bouyomi.js"></Script>

		<Script Type = "module" Src = "./index.js" Defer></Script>
	</Head>

	<Body>
		<Header Class = "ui menu labeled icon borderless steps unstackable tiny">
			<Div Class = "item header step">
				<I Class = "icon circular inverted teal">{{ __MSG_app_shortName__ }}</I>
				{{ __MSG_app_name__ }}
			</Div>

			<Div Class = "item step">
				<I Class = "icon wrench circular"></I>
				{{ __MSG_view_Settings_title__ }}
			</Div>
		</Header>

		<Main Class = "ui container segment basic">
			<H2 Class = "ui header">{{ __MSG_view_Settings_title__ }}</H2>

			<Section ID = "form" Class = "ui form segment">
				<H4 Class = "ui header">
					{{ __MSG_view_Settings_form_bouyomiType__ }}
					<Span Class = "sub header">{{ __MSG_view_Settings_form_bouyomiType__description__ }}</Span>
				</H4>

				<Div Class = "fields grouped">
					<Select ID = "form_bouyomiType" Class = "ui dropdown fluid">
						<Option Value = "BOUYOMI">{{ __MSG_view_Settings_form_bouyomiType__bouyomi__ }}</Option>
						<Option Value = "NATIVE">{{ __MSG_view_Settings_form_bouyomiType__native__ }}</Option>
					</Select>

					<Div Class = "field ui accordion">
						<Div Class = "title active">
							<I Class = "icon dropdown"></I>
							{{ __MSG_view_Settings_form_bouyomiConfig__ }}
						</Div>
	
						<Div ID = "form_bouyomiConfig" Class = "content fields grouped active">
							<H5 Class = "ui sub header" data-config-label-id = "speed">
								{{ __MSG_view_Settings_form_bouyomiConfig_speed__ }}
								<Span Class = "sub header">{{ __MSG_view_Settings_form_bouyomiConfig_speed__range__bouyomi__ }}</Span>
							</H5>

							<Div Class = "ui input">
								<Input Type = "number" Min = "-1" />
							</Div>


							<H5 Class = "ui sub header" data-config-label-id = "type">
								{{ __MSG_view_Settings_form_bouyomiConfig_type__ }}
								<Span Class = "sub header">{{ __MSG_view_Settings_form_bouyomiConfig_type__range__bouyomi__ }}</Span>
							</H5>

							<Select ID = "form_bouyomiConfig_type" Class = "ui dropdown fluid">
								<!-- <Option Value = "${voice.name}">${voice.name}</Option> -->
							</Select>
						</Div>
					</Div>
				</Div>


				<H4 Class = "ui header">
					{{ __MSG_view_Settings_form_services__ }}
					<Span Class = "sub header">{{ __MSG_view_Settings_form_services__description__ }}</Span>
				</H4>

				<Div ID = "form_services" Class = "fields grouped">
					<!--
						<Div Class = "field ui checkbox toggle" Data-Storage-Key = "${STORAGE_KEYS.SERVICES}" Data-Service = "${service}">
							<Label>{{ __MSG_services_${service}__ }}</Label>
							<Input Type = "checkbox" />
						</Div>
					-->
				</Div>
			</Section>
		</Main>
	</Body>
</HTML>