<!DocType HTML>

<HTML>
	<Head>
		<Meta Charset = "UTF-8" />
		<Title>{{ __MSG_view_Settings_title__ }}｜{{ __MSG_app_name__ }}</Title>

		<Link Rel = "StyleSheet" Href = "../libs/Fomantic-UI/dist/semantic.min.css" />
		<Link Rel = "StyleSheet" Href = "./index.css" />

		<Script Src = "../libs/jquery-3.4.1.min.js"></Script>
		<Script Src = "../libs/Fomantic-UI/dist/semantic.min.js"></Script>
		

		<Script Type = "module" Src = "../../scripts/libs/Initialize.js"></Script>
		<Script Src = "../../scripts/libs/ChromeStorage.js"></Script>
		<Script Src = "../../scripts/libs/variables.js"></Script>

		<Script Type = "module" Src = "./index.js" Defer></Script>
	</Head>

	<Body>
		<Header Class = "ui menu labeled icon borderless steps unstackable tiny">
			<Div Class = "item header step">
				<I Class = "icon circular inverted teal">{{ __MSG_app_shortName__ }}</I>
				{{ __MSG_app_name__ }}
			</Div>

			<Div Class = "item step">
				<I Class = "icon wrench circular"></I>
				{{ __MSG_view_Settings_title__ }}
			</Div>
		</Header>

		<Main Class = "ui container segment basic">
			<H2 Class = "ui header">{{ __MSG_view_Settings_title__ }}</H2>

			<Section ID = "form" Class = "ui form segment">
				<H4 Class = "ui dividing header">
					{{ __MSG_view_Settings_form_services__ }}
					<Div Class = "sub header">{{ __MSG_view_Settings_form_services__description__ }}</Div>
				</H4>

				<Div ID = "form_services" Class = "grouped fields">
				</Div>
			</Section>
		</Main>
	</Body>
</HTML>